/** Asset Paths**/

//Fonts
$lobster: '../../fonts/Lobster/Lobster-Regular.ttf';
$sairaStencil: '../../fonts/Saira_Stencil_One/SairaStencilOne-Regular.ttf';
$openSansReg: '../../fonts/Open_Sans/OpenSans-Regular.ttf';
$openSansBold: '../../fonts/Open_Sans/OpenSans-Bold.ttf';
$ralewayReg: '../../fonts/Raleway-Regular.ttf';
/** Variable Definitions **/

//Colors
$red: rgba(139, 0, 0, 1);
$offWhite: #fff9d4;
$white: rgb(255, 255, 255);
$roseLt: #ffe2dc;
$coralMd: #fe8f77;
$redMd: #fd3a0f;
$deepRed: #a72002;
$darkRed: #341109;

//Palettes
$darkScarlet: #530b15;
$smokyTopaz: #90323d;
$desertSand: #d9cab3;
$copper: #bc8034;
$shadow: #8c7a6b;

