@import '../../styles/variables.scss';

.App {
  display: grid;
  background-color: $copper;
  #row-1, #row-2, #row-3{
    grid-column: 1 /span 2;
  }
  #row-2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
}
