@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

@font-face{
    font-family: 'OpenSans';
    src: url($openSansReg);
}
.Product{
    
    // background-color: $offWhite;
    margin-left: 20px;
    border-right: 1px solid $smokyTopaz;
    border-left: 1px solid $smokyTopaz;
    padding: 20px;
    h4{
        font-family: 'OpenSans';
        margin-block-start: 0;
        margin-block-end: 0;
        margin-bottom: 10px;
        color: $darkRed;
    }
}