@import '../../styles/variables.scss';
@import '../../fonts/Lobster/Lobster-Regular.ttf';

@font-face{
    font-family: 'Lobster';
    src: url($lobster);
}
.Home{
    img{
        max-width: 100%;
    }
}