@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Footer{
    @include headerFooter;
    background-color: $darkRed;
    display: grid;
    grid-template-columns: auto auto auto;
}