@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.Footer{
    @include headerFooter;
    background-color: $darkRed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    .Copyright{
        grid-column: 2 /span 1;
        grid-row: 2 /span 1;
        text-align: center;
    }
}

.Footer--icon-row{
    display: flex;
    justify-content: space-between;
    grid-column: 2 /span 1;
    grid-row: 1 /span 1;
    padding-bottom: 10px;
}