@import '../../styles/variables.scss';

$paddingVert: 20px;
$paddingHoriz: calc(#{$paddingVert} / 2);


.Nav{
    grid-column: 1 /span 1;
    grid-row: 2 /span 1;
    a{
        display: block;
        text-decoration: none;
        background-color: $copper;
        color: $offWhite;
        padding-top: $paddingVert;
        padding-left: $paddingHoriz;
        padding-bottom: $paddingVert;
    }
    a:hover{
        background-color: $deepRed;
    }
}