@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

@font-face{
    font-family: 'Banner';
    src: url($sairaStencil);
}
.Banner{
    @include headerFooter;
    h1{
        font-family: 'Banner';
        font-size: 4.5em;
        margin: -25px 0;
        padding: 0;
    }
}